<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<section class="round">
  <% flash.each do |key, value| %>
     <div class="flash <%= key %>">
         <%= value %>
     </div>
  <% end %>
  <%= yield %>
</section>

</body>
</html>
